<!DOCTYPE html>
<html>
  <head>
    <title>WorkDay13</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if logged_in? %>
        <span><%= link_to "マイページへ", user_path(current_user.id), class: "btn-danger badge" if current_user %></span>
        <span><%=link_to "to_Logout", session_path(current_user.id), method: :delete, class:"btn-danger badge" %></span>
      <% else %>
        <span><%=link_to "SignUp", new_user_path, class:"btn-danger badge" %></span>
        <span><%=link_to "to_Login", new_session_path, class:"btn-danger badge" %></span>
      <% end %>
    </header>

    <main>
      <%= yield %>
      <span><%=link_to "to_Blog_Index", blogs_path, class:"btn-danger badge" %></span>
    </main>

    <footer>
    </footer>
  </body>
</html>
